.Form-user {
    margin: 50px auto;
    padding: 40px;
    background-color: #f7c2a5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(252, 4, 107, 0.801);
    max-width: 500px;
  }
  
  .Form-user h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f50a0a;
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }
  